{% extends '::base.html.twig' %}

{% block content %}
<h2>Administration > Products</h2>
<table class="table table-striped">
<thead>
    <tr>
        <th>#</th>
        <th>Reference</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Action</th>
    </tr>
</thead>
{% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td><a href="#">{{ product.reference }}</a></td>
        <td>{{ product.name|capitalize }}</td>
        <td>{{ product.owner.username }}</td>
        <td>
            <a href="{{ path('admin_products_edit', {id: product.id}) }}" class="btn btn-sm btn-warning dropdown-toggle"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
            <div class="btn-group">
                <a data-toggle="dropdown" href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span></a>

               <ul class="dropdown-menu">
                <li><a href="#">Disable</a></li>
                <li><a href="#">Synchronize</a></li>
                <li><a href="#">Move</a></li>
              </ul>
            </div>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
